/*Menu bar top of page*/
.topMenuBar {
    width: 100%;
    height: 120px;
    background-color: lightsteelblue;
}
    #topTitle {
        text-align: left;
        padding-top: 40px;
        padding-left: 30px;
    }


/* CONTENT WRAPPER */
.contentWrapper{
    overflow: hidden;
    margin: 0;
    display:flex;
    width: 100%;
    margin-bottom: 0px;
}
    /* Main Content */
    .mainContent {
        width: 56%;
        min-width: 800px;
        max-width: 1000px;
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 30px;
        padding-right: 30px;
        overflow: hidden;
        background-color: lightslategray;
    }
        /*Header main content*/
        .contentHeader{

        }
            #contentTitle{
                text-align: center;
            }
        /*Status commands*/
        .statusCommands{
            padding-left: 30px;
            padding-right: 30px;
            display: inline-block;
            width: 800px;
            alignment: center;
        }
            .mood{
                margin: 15px 30px;
                height: 200px;
                width: 310px;
                float: left;
                visibility: hidden;
            }
            .rectangle {
                margin: 15px 30px;
                height: 200px;
                width: 310px;
                float: left;

                border-radius: 25px;
                border: 4px solid black;
                background-image: url('sampleBackround.jpg');
                background-position: left top;
                background-repeat: repeat;
                filter: drop-shadow(4px 4px 10px rgba(0,0,0,0.3));
            }
            .moodTitle{
                text-align: center;
                margin:0px;
                padding: 8px 8px 0px 0px;

                font-size: 22px;
                font-weight: bold;
            }
            .line{
                width: 100%;
                height: 3px;
                border-width:0px;
                background-color: black;
                color: black;
            }
            .moodDevice{
                text-align: left;
                margin:0px;
                padding:5px 40px;

                font-size: 18px;
            }

            /*adding another device section*/
            .rectangleAdd{
                margin: 15px 30px;
                height: 200px;
                width: 310px;
                float: left;
                alignment: center;

                border-radius: 25px;
            }
            #moodAddText{
                text-align: center;
                padding-top: 30px;
                font-size: 20px;
                font-weight: bold;
            }
            #addImage{
                width: 50px;
                height: 50px;
                margin-left: 130px;
            }

            /*device list section*/
            .listTitle{
                align-content: center;
            }
            .listItem{
                align-content: center;
            }

    /* Left Sidebar */
    .sidebarLeft {
        width: 22%;
        padding: 0px;
        overflow: hidden;
    }

    /* Right Sidebar */
    .sidebarRight {
        width: 22%;
        padding: 0px;
        overflow: hidden;
    }